.rnc-notifications {
  position: fixed;
  top: 16px;
  right: 16px;
  display: flex;
  flex-direction: column;
  width: 300px;
  font-size: 0.75rem;
  font-weight: 600;
  color: inherit;
  z-index: 10;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --default-progress: #094f96;
  --success-bg: linear-gradient(to right top, #67bf5c, #5dc552, #50ca47, #40d03a, #29d529);
  --success-color: #FFFFFF;
  --success-progress: #3d8534;
  --warning-bg: linear-gradient(to right top, #ff9400, #fc9f20, #f9a935, #f7b247, #f5bb58);
  --warning-color: #FFFFFF;
  --warning-progress: #b36800;
  --error-bg: linear-gradient(to right top, #c13939, #cf4948, #dc5856, #e96666, #f67575);
  --error-color: #FFFFFF;
  --error-progress: #FFFFFF;
}

.rnc-notification {
  position: relative;
  width: 100%;
  padding: 16px;
  background-color: var(--notification-bg);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;

  > span {
    display: flex;
    width: 100%;
    align-items: center;
  }

  > .icon {
    width: 44px;
    flex-shrink: 0;
  }

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  > .remove {
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
    transition: transform ease 200ms, opacity ease 200ms;
    user-select: none;

    &:hover {
      transform: scale(1.3);
    }
  }

  > .progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 100%;
  }

  @media (any-hover: hover) {
    & > .remove:not(.show) {
      opacity: 0;
    }

    &:hover > .remove {
      opacity: 1;
    }
  }

  &.default {
    font-weight: 400;

    > .progress {
      background-color: var(--default-progress);
    }
  }

  &.success {
    background: var(--success-bg);
    color: var(--success-color);

    svg {
      fill: var(--success-color);
    }

    > .progress {
      background-color: var(--success-progress);
    }
  }

  &.warning {
    background: var(--warning-bg);
    color: var(--warning-color);

    svg {
      fill: var(--warning-color);
    }

    > .progress {
      background-color: var(--warning-progress);
    }
  }

  &.error {
    background: var(--error-bg);
    color: var(--error-color);

    svg {
      fill: var(--error-color);
    }
  }
}
