.rnc-notifications.custom {
  top: unset;
  bottom: 16px;
  width: 400px;
  font-family: sans-serif;
  font-size: 1rem;
  --default-progress: white;
}

.rnc-notifications.custom > li {
  min-height: 80px;
  background-image: linear-gradient(to right top, #8400c7, #9900c0, #aa09ba, #b917b4, #c525af, #d228a6, #dd2e9d, #e63795, #f03d86, #f64678, #fa526b, #fb5f5f);
  color: var(--default-progress)
}
